  <p><%= link_to briefcase.title, briefcase_show_path(briefcase) %></p>
  <p><%= briefcase.subtitle %></p>
  <p><%= briefcase.body %></p>
  <%= image_tag briefcase.thumb_image unless briefcase.thumb_image.nil? %>
  <%= link_to "Edit", edit_briefcase_path(briefcase) if logged_in?(:site_admin) %>
  <%= link_to 'Destroy', 
        briefcase_path(briefcase),
        method: :delete,
        data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>